body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.avatar {
    width: 207px;
    height: 311px;
    aspect-ratio: auto 122 / 183;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    transition-delay: 1s;
}

.info p {
    color: rgba(72, 71, 71, 0.815);
    margin: 5px 0 0 0;
    font-style: italic;
    font-size: 16px
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .info {
        display: block;
        text-align: center;
    }
    .info-text h1 {
        margin: auto;
    }
    .table td:nth-child(3) {
        text-align: center;
        min-width: 60px;
    }
    .table td:nth-child(1) {
        min-width: 115px;
    }
}

.info-text {
    margin-left: 30px;
}

.info-text h1 {
    font-size: 25px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #c894f9;
}

.info-text h3 {
    color: #000000;
    margin: 5px 0 0 0;
    font-style: italic;
    font-size: 18px;
    display: inline;
    border-bottom: 3px solid #c894f9;
}

.info-text h4 {
    margin: 20px 0 10px 0;
    border: #0f141e;
}

.box-text {
    color: rgba(0, 0, 0, 0.806);
    font-style: normal;
    font-size: 16px;
}

.box-text p {
    margin: 7px;
}

.box {
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.box h2 {
    margin: 10px 40px;
}

.bg-1 {
    background-color: #b56df95a;
}

.bg-2 {
    background-color: #e5ffe7;
}

.bg-3 {
    background-color: #fff9dc;
}

.bg-4 {
    background-color: #ffe5f5;
}

.table {
    width: 100%;
}

.table td {
    padding-top: 10px;
}

.table thead td {
    padding: 0%;
    border-bottom: 1px solid grey;
}

.table td:nth-child(2) {
    font-weight: 600;
}

.ol {
    list-style-type: circle;
    margin-right: 20px;
    padding-left: 20px;
}

.ol-li li {
    margin: 10px;
}

.box-ol {
    display: flex;
    margin: 0 20px 20px 0;
    width: 100%;
}

.box-ol img {
    max-width: 100%;
    text-align: end;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media (max-width: 800px) {
    .box-ol {
        display: block;
        margin: auto;
    }
    .box-ol img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.link {
    margin-left: 5px;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    background: -webkit-linear-gradient(right, #b56df95a, #c894f9 33.3%, #c894f9 33.3%, #c894f9 66.6%, #c894f9 66.6%, #b56df95a) bottom no-repeat;
    background: -o-linear-gradient(right, #b56df95a 0, #c894f9 33.3%, #c894f9 33.3%, #c894f9 66.6%, #c894f9 66.6%, #b56df95a) bottom no-repeat;
    background: linear-gradient(to right, #b56df95a 0, #c894f9 33.3%, #c894f9 33.3%, #c894f9 66.6%, #c894f9 66.6%, #b56df95a) bottom no-repeat;
    background-size: 70% 4px;
}

.link:hover {
    background-size: 100% 4px;
    cursor: pointer;
    font-weight: 550;
}