@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  background-color: #f8f0e4;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.container-slide {
  background-image: linear-gradient(
    90deg,
    #b56df95a,
    #c894f9,
    #8400ff,
    #c894f9,
    #b56df95a
  );
  border-radius: 20px;
  font-family: "Muli", sans-serif;
  overflow: hidden;
  width: 95%;
  margin: auto;
  height: 95vh;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.slide {
  height: 90vh;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide h3 {
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-weight: 600;
  padding-bottom: 3px;
  background: -webkit-linear-gradient(
      right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background: -o-linear-gradient(
      right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background: linear-gradient(
      to right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background-size: 90% 4px;
}

.slide p {
  margin: 0;
  padding: 3px;
}

.slide.active {
  flex: 12;
  cursor: auto;
}

.slide.active h3,
.slide.active div {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
  pointer-events: all;
}

.slide div {
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  opacity: 0;
  color: #000000;
  padding: 5px;
  border-radius: 20px;
  margin: 10px;
  width: 90%;
  pointer-events: none;
}

.link {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  background: -webkit-linear-gradient(
      right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background: -o-linear-gradient(
      right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background: linear-gradient(
      to right,
      #b56df95a,
      #c894f9,
      #c894f9,
      #c894f9,
      #c894f9,
      #b56df95a
    )
    bottom no-repeat;
  background-size: 70% 4px;
}

.link:hover {
  background-size: 100% 4px;
  cursor: pointer;
  font-weight: 550;
}

.container {
  max-width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  margin-bottom: 20px;
}

.avatar {
  width: 320px;
  margin: auto;
  border: 2px solid black;
  aspect-ratio: auto 122 / 183;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-delay: 1s;
}

.info {
  display: flex;
  text-align: center;
  margin: auto;
}

.info-text {
  text-align: center;
  margin-left: 20px;
}

.info p {
  color: rgba(72, 71, 71, 0.815);
  margin: 5px 0 0 0;
  font-style: italic;
  font-size: 16px;
}

.info-text h1 {
  font-size: 25px;
  width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #c894f9, #8400ff, #c894f9);
}

.info-text h3 {
  margin: 5px 0 0 0;
  background-image: linear-gradient(90deg, #4b028f, #8400ff, #c894f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  display: inline;
  border-bottom: 3px solid #c894f9;
}

.info-text h4 {
  margin: 20px 0 10px 0;
  border: #0f141e;
}

.bg {
  background-color: #ffe5f5;
}

.table-project {
  font-family: cursive;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.table-project thead td {
  width: 50%;
  padding: 0%;
  border-bottom: 1px solid grey;
}

.table {
  width: 100%;
}

.table td {
  padding-top: 10px;
}

.table thead td {
  padding: 0%;
  border-bottom: 1px solid grey;
}

.table td:nth-child(2) {
  font-weight: 600;
}

.ol {
  list-style-type: circle;
  margin-right: 20px;
  padding-left: 20px;
}

.box-ol {
  display: flex;
  margin: 0 20px 20px 0;
  width: 100%;
}

.box-ol img {
  max-width: 100%;
  text-align: end;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
}

@media (max-width: 1000px) {
  .box-ol {
    display: block;
    margin: auto;
  }
  .box-ol img {
    width: 100%;
    margin-bottom: 20px;
  }
}
